<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LIBERADOR_PEDIDOS.Properties.Settings.PINMEXConnectionString" connectionString="Data Source=10.10.0.14;Initial Catalog=PINMEX;Persist Security Info=True;User ID=SPP;Password=Pintumex2019;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
